<!-- loading the page from base.html -->
{% extends 'base.html' %}

{% block page_title %}

    <title>Contacts - Sablux</title>

{% endblock %}

{% block style %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<style>
  .apexcharts-radialbar-label {
  cursor: pointer;
}
</style>
{% endblock %}
{% block admin_name %}
  <div>{{ admin_name }}</div>
{% endblock %}

{% block content_title %}
<div class="col-md-7">
    <h2 class="page-title">
        WhatsApp Chatbot - Contacts
    </h2>            
    
</div>
<div class="col-md-2 ms-auto d-print-none mt-3">
    <div class="d-flex">
      <input type="text" id="all_search" class="form-control d-inline-block w-9 me-3" placeholder="Search contacts.."/>
    </div>
</div>
{% endblock %}

{% block main_content %}

<div class="col-12">
    <!-- Table -->
    <div class="table-container">
        <div class="loading" id="loading" style="display: none;">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <table class="table table-bordered table-hover">
            <thead class="table-light">
                <tr>
                    <th>Profile name</th>
                    <th>WhatsApp number</th>
                    <th>Created at</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="contacts-table-body">
                <!-- Rows will be populated here -->
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block js_content %}



{% endblock %}
