<!-- loading the page from base.html -->
{% extends 'base.html' %}

{% block page_title %}

    <title>Contacts - Sablux</title>

{% endblock %}

{% block style %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<style>
  .apexcharts-radialbar-label {
  cursor: pointer;
}
</style>
{% endblock %}
{% block admin_name %}
  <div>{{ admin_name }}</div>
{% endblock %}

{% block content_title %}
<div class="col">
    <h2 class="page-title">
        Dashboard
    </h2>            
</div>
{% endblock %}

{% block main_content %}

<div class="col-12">
    <!-- Table -->
<div class="table-container">
    <div class="loading" id="loading" style="display: none;">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th>Part Name</th>
                <th>Quantity</th>
                <th>Reason</th>
                <th>Account Number</th>
                <th>Unique ID</th>
                <th>Added By</th>
                <th>Credited</th>
                <th>Created At</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="parts-table-body">
            <!-- Rows will be populated here -->
        </tbody>
    </table>
</div>
</div>

{% endblock %}

{% block js_content %}



{% endblock %}
