<!-- loading the page from base.html -->
{% extends 'base.html' %}

{% block page_title %}

    <title>Dashboard - Seye</title>

{% endblock %}

{% block style %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<style>
  .apexcharts-radialbar-label {
  cursor: pointer;
}
</style>
{% endblock %}
{% block admin_name %}
  <div>{{ admin_name }}</div>
{% endblock %}

{% block content_title %}
<div class="col">
    <h2 class="page-title">
        Dashboard
    </h2>            
</div>
{% endblock %}

{% block main_content %}

<div class="col-12">
    <div class="row row-cards">
      <div class="col-sm-12 col-lg-4">
        <div class="container container-fluid">
          <a href="" class="card card-link card-link-pop">
            
            <div class="card-body text-center">
              <div class="card-title">
                Total Chatbot Contacts
              </div>
              <strong>e</strong>
            </div>
          </a>
        </div>
        
      </div>
      <div class="col-sm-12 col-lg-4">
        <div class="container container-fluid">
          <a href="" class="card card-link card-link-pop">
            
            <div class="card-body text-center">
              <div class="card-title">
                Total Messages in Chatbots
              </div>
              <strong>r</strong>
            </div>
          </a>
        </div>
        
      </div>

      <div class="col-sm-12 col-lg-4">
        <div class="container container-fluid">
          <a href="" class="card card-link card-link-pop">
            
            <div class="card-body text-center">
              <div class="card-title">
                Total Connect Requests
              </div>
              <strong>r</strong>
            </div>
          </a>
        </div>
        
      </div>

    </div>
</div>

{% endblock %}

{% block js_content %}



{% endblock %}