<!-- loading the page from base.html -->
{% extends 'base.html' %}

{% block page_title %}

    <title>Dashboard - Seye</title>

{% endblock %}

{% block style %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<style>
  .apexcharts-radialbar-label {
  cursor: pointer;
}
</style>
{% endblock %}

{% block notifications %}

{% for notification in notifications %}

<div class="list-group-item">
  <div class="row align-items-center">
    <div class="col-auto"><span class="status-dot status-dot-animated bg-green d-block"></span></div>
    <div class="col text-truncate">
      <a href="#" class="text-body d-block">New connect Request from {{ notification.user_whatsapp }}</a>
      <div class="d-block text-secondary text-truncate mt-n1">
        Client Name: {{ notification.user_whatsapp }}, Request ID: {{ notification.condition.id }}
      </div>
    </div>
    <div class="col-auto">
      <a href="#" class="list-group-item-actions">
        <!-- Download SVG icon from http://tabler-icons.io/i/star -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" /></svg>
      </a>
    </div>
    
  </div>
</div>

{% endfor %}
{% endblock %}

{% block admin_name %}
  <div>{{ admin_name }}</div>
{% endblock %}

{% block content_title %}
<div class="col">
    <h2 class="page-title">
        Dashboard
    </h2>            
</div>
{% endblock %}

{% block main_content %}

<div class="col-12">
    <div class="row row-cards">
      <div class="col-sm-12 col-lg-4">
        <div class="container container-fluid">
          <a href="" class="card card-link card-link-pop">
            
            <div class="card-body text-center">
              <div class="card-title">
                Total Chatbot Contacts
              </div>
              <strong>e</strong>
            </div>
          </a>
        </div>
        
      </div>
      <div class="col-sm-12 col-lg-4">
        <div class="container container-fluid">
          <a href="" class="card card-link card-link-pop">
            
            <div class="card-body text-center">
              <div class="card-title">
                Total Messages in Chatbots
              </div>
              <strong>r</strong>
            </div>
          </a>
        </div>
        
      </div>

      <div class="col-sm-12 col-lg-4">
        <div class="container container-fluid">
          <a href="" class="card card-link card-link-pop">
            
            <div class="card-body text-center">
              <div class="card-title">
                Total Connect Requests
              </div>
              <strong>r</strong>
            </div>
          </a>
        </div>
        
      </div>

    </div>
</div>

{% endblock %}

{% block js_content %}



{% endblock %}