<td><a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#modal-status-${quote.id}">
    Change Status
</a></td>
<div class="modal modal-blur fade" id="modal-status-${quote.id}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title">Update Quote Status for <span class="badge bg-blue text-blue-fg">${quote.client_whatsapp}</span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <div class="d-flex justify-content-center">
                    Current Status: ${currentStatus}
                </div>
            </div>
        <div class="mb-3">
            <h5>${setDialogue}</h5>
        </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
        <button type="button" id='change_status_${quote.id}' class="btn btn-primary" data-bs-dismiss="modal">Update</button>
        </div>
    </div>
    </div>
</div>