<!-- loading the page from base.html -->
{% extends 'base.html' %}

{% block page_title %}

    <title>WhatsApp - Sablux</title>

{% endblock %}

{% block style %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<style>
  .apexcharts-radialbar-label {
  cursor: pointer;
}
</style>
{% endblock %}

{% block notifications %}

{% for notification in notifications %}

<div class="list-group-item">
  <div class="row align-items-center">
    <div class="col-auto"><span class="status-dot status-dot-animated bg-green d-block"></span></div>
    <div class="col text-truncate">
      <a href="#" class="text-body d-block pe-3">New Client Request from WhatsApp bot </a>
      <div class="d-block text-secondary text-truncate mt-n1">
        WhatsApp: {{ notification.user_whatsapp }}
      </div>
      <div class="d-block text-secondary text-truncate mt-n1">
        Profile Name: {{ notification.user_profile_name }}
      </div>
      <div class="d-block text-secondary text-truncate mt-n1">
        Request ID: {{ notification.condition.id }}
      </div>
    </div>
    
    
  </div>
</div>

{% endfor %}
{% endblock %}


{% block admin_name %}
  <div>{{ admin_name }}</div>
{% endblock %}

{% block content_title %}
<div class="col">
    <h2 class="page-title">
        Dashboard
    </h2>            
</div>
{% endblock %}

{% block main_content %}

<div class="col-12">
    <div class="row row-cards">
      <div class="col-sm-12 col-lg-6">
        <div class="container container-fluid">
          <a href="{{ url_for('contacts') }}" class="card card-link card-link-pop">
            
            <div class="card-body text-center">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /><path d="M16 3.13a4 4 0 0 1 0 7.75" /><path d="M21 21v-2a4 4 0 0 0 -3 -3.85" /></svg>
              <div class="card-title">
                Contacts
              </div>
            </div>
            </a>
        </div>
        
      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="container container-fluid">
            <a class="card card-link card-link-pop" href="{{ url_for('message_history') }}">
            
                <div class="card-body text-center">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 9h8" /><path d="M8 13h5" /><path d="M12 21l-.5 -.5l-2.5 -2.5h-3a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v4.5" /><path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M20.2 20.2l1.8 1.8" /></svg>
                    <div class="card-title">
                      Message History
                    </div>
                </div>
                  </a>

        </div>
        
      </div>

    </div>
</div>

{% endblock %}

{% block js_content %}



{% endblock %}
